allow recovery adb_data_file:dir { read open getattr };
allow recovery adb_keys_file:dir create_dir_perms;
allow recovery apk_data_file:dir { read open getattr };
allow recovery apk_private_data_file:dir { read open getattr };
allow recovery asec_image_file:dir { read open getattr };
allow recovery bluetooth_data_file:dir create_dir_perms;
allow recovery console_device:chr_file rw_file_perms;
allow recovery dalvikcache_data_file:dir create_dir_perms;
allow recovery dalvikcache_data_file:file create_file_perms;
allow recovery dalvikcache_profiles_data_file:dir create_dir_perms;
allow recovery dalvikcache_profiles_data_file:file create_file_perms;
allow recovery default_prop:property_service set;
allow recovery device:dir create_dir_perms;
allow recovery device:file create_file_perms;
allow recovery dhcp_data_file:dir create_dir_perms;
allow recovery drm_data_file:dir { read open getattr };
allow recovery graphics_device:chr_file create_file_perms;
allow recovery graphics_device:dir create_dir_perms;
allow recovery input_device:chr_file create_file_perms;
allow recovery input_device:dir create_dir_perms;
allow recovery kernel:system module_request;
allow recovery keychain_data_file:dir create_dir_perms;
allow recovery keystore_data_file:dir { read open getattr };
allow recovery log_device:dir create_dir_perms;
allow recovery log_device:file create_file_perms;
allow recovery media_data_file:dir { read open getattr };
allow recovery media_rw_data_file:dir create_dir_perms;
allow recovery media_rw_data_file:file create_file_perms;
allow recovery media_rw_data_file:file relabelfrom;
allow recovery media_rw_data_file:file relabelto;
allow recovery misc_user_data_file:dir { read open getattr };
allow recovery mtd_device:chr_file create_file_perms;
allow recovery mtd_device:dir create_dir_perms;
allow recovery mtp_device:chr_file create_file_perms;
allow recovery net_data_file:dir create_dir_perms;
allow recovery net_data_file:file { read open getattr };
allow recovery properties_device:dir create_dir_perms;
allow recovery properties_device:file create_file_perms;
allow recovery property_data_file:dir { read open getattr };
allow recovery radio_data_file:dir { read open getattr };
allow recovery resourcecache_data_file:dir { read open getattr };
allow recovery rootfs:dir create_dir_perms;
allow recovery rootfs:blk_file create_file_perms;
allow recovery rootfs:fifo_file create_file_perms;
allow recovery rootfs:file create_file_perms;
allow recovery rootfs:lnk_file create_file_perms;
allow recovery security_file:dir { read open getattr };
allow recovery selinuxfs:file create_file_perms;
allow recovery shared_relro_file:dir create_dir_perms;
allow recovery shell_data_file:dir { read open getattr };
allow recovery sysfs:dir { mounton };
allow recovery system_data_file:dir create_dir_perms;
allow recovery system_data_file:file create_file_perms;
allow recovery system_data_file:file { relabelfrom relabelto };
allow recovery systemkeys_data_file:dir create_dir_perms;
allow recovery vfat:dir create_dir_perms;
allow recovery vfat:file create_file_perms;
allow recovery vpn_data_file:dir create_dir_perms;
allow recovery wifi_data_file:dir { read open getattr };
allow recovery wpa_socket:dir { read open getattr };
allow recovery zoneinfo_data_file:dir create_dir_perms;
allow recovery tmpfs:blk_file create_file_perms;
allow recovery tmpfs:chr_file create_file_perms;
allow recovery tmpfs:dir create_dir_perms;
allow recovery tmpfs:sock_file create_file_perms;
allow recovery rootfs:chr_file create_file_perms;
allow recovery rootfs:sock_file create_file_perms;
allow recovery rootfs:chr_file { execute };
