allow ueventd tmpfs:chr_file create_file_perms;
allow ueventd tmpfs:blk_file create_file_perms;
allow ueventd tmpfs:lnk_file create_file_perms;
allow ueventd rootfs:dir create_dir_perms;
allow ueventd rootfs:chr_file create_file_perms;
allow ueventd rootfs:blk_file create_file_perms;
allow ueventd ueventd_tmpfs:file create_file_perms;
allow ueventd rootfs:lnk_file create_file_perms;
